# Dependencies
node_modules/
dist/
dist-ssr/

# Rust / Tauri
src-tauri/target/
src-tauri/gen/

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.local
.env.*.local
